#main {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-sm);
  gap: var(--padding-sm);

  & .main-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: var(--padding-xs);

    & a {
      font-weight: 800;
    }

    & #mask {
      max-width: 80%;
      height: auto;
      filter: drop-shadow(var(--shadow-lg));
    }
  }
}

#error-content {
    position: relative;
    padding: var(--padding-md) var(--padding-lg);
    min-height: 100vh;
}

.error-wrapper {
    text-align: left;
    font-family: var(--font-heading);
    padding: calc(var(--padding-lg) - var(--padding-sm)) calc(var(--padding-md) - var(--padding-sm));

    & h1 {
        color: var(--color-accent);
        margin-bottom: var(--padding-lg);
    }

    & .error-subtitle {
        font-size: var(--font-size-h2);
        color: var(--color-text);
        margin-bottom: var(--padding-sm);
    }

    & .error-desc {
        color: var(--color-text);
        font-size: var(--font-size-base);

        & a {
            font-weight: bold;
        }
    }

    & .error-graphics {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 50%;
        right: var(--padding-lg);
        transform: translateY(-40%);

        & .mountains {
            width: 38rem;
        }
    }
}

@media screen and (min-width: 768px) {
  #main {
    flex-direction: row;
    padding: var(--padding-md) var(--padding-lg);
    gap: var(--padding-md);

    & .main-item {
      text-align: left;
      
      & #mask {
        max-width: 100%;
      }
    }
  }
}