.logo {
    user-select: none;
    aspect-ratio: 1/1;
    height: calc(var(--font-size-h1) + var(--font-size-h1));
    width: calc(var(--font-size-h1) + var(--font-size-h1));
}

.logo-name {
    user-select: none;
    height: var(--font-size-h1);
}

#error-content {
    position: relative;
    padding: var(--padding-md) var(--padding-lg);
    min-height: 100vh;
}

.error-wrapper {
    text-align: left;
    font-family: var(--font-heading);
    padding: calc(var(--padding-lg) - var(--padding-sm)) calc(var(--padding-md) - var(--padding-sm));

    & h1 {
        color: var(--color-accent);
        margin-bottom: var(--padding-lg);
    }

    & .error-subtitle {
        font-size: var(--font-size-h2);
        color: var(--color-text);
        margin-bottom: var(--padding-sm);
    }

    & .error-desc {
        color: var(--color-text);
        font-size: var(--font-size-base);

        & a {
            font-weight: bold;
        }
    }

    & .error-graphics {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 50%;
        right: var(--padding-lg);
        transform: translateY(-40%);

        & .mountains {
            width: 38rem;
        }
    }
}