#main {
  width: 100%;
  min-height: 100svh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .main-item {
    padding: var(--padding-md) var(--padding-lg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid red;

    &#hero {
    }

    &#features {
    }

    &#team {
    }
  }

  & .content {
    min-height: 100vh;
  }

  & .content-container {
    max-width: 1180px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  & .disclaimer {
    font-size: 0.9rem;
  }

  & .subtle {
    color: var(--color-muted);
    font-size: 0.9rem;
  }
}

/* !FIX : RESPONSIVE SECTION */
@media screen and (min-width: 720px) {
  .footgrid {
    grid-template-columns: 1.4fr 1fr 1fr;
  }
}
@media screen and (max-width: 820px) {
  .hero {
    grid-template-columns: 1fr;
  }

  :is(.book-details-container, .author-details-container) .card {
    grid-template-columns: 1fr;
  }

  .track .slides .slide {
    grid-template-columns: 1fr;
  }

  .footgrid {
    padding: 2rem;

    & .logo {
      transform: translate(-50%, -50%);
    }
  }

  .member {
    flex: 1 1 100%;
  }

  .ABcreators {
    flex: 1 1 99%;
  }
}

/* !FIX : MAIN : HOME */
#home-content {
  padding-bottom: 0;
}

.hero {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1.2fr 1fr;
  overflow: hidden;

  & .home-title {
    color: var(--color-primary);
    font-style: italic;
    font-family: var(--font-title-2);
    font-size: clamp(3rem, 5vw, 5rem);
  }

  & .col-1 {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    & p {
      font-family: var(--font-text);
      text-align: justify;
    }
  }
}

.carousel-container {
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 1.8rem;
  margin-bottom: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.2);

    & h3 {
        margin: 0 0 1.2rem;
        letter-spacing: 1rem;
        color: var(--color-primary);
        font-weight: 800;
    }
}

:is(.book-details-container, .author-details-container) {
  margin-top: 5rem;
}

.card {
  display: grid;
  gap: 2rem;
  align-items: start;
  grid-template-columns: 22rem 1fr;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.2);

  &.card-2 {
    grid-template-columns: 1fr 22rem;
  }

  & .section-title {
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-size: clamp(1.2rem, 1.6vw + 0.8rem, 1.8rem);
    color: var(--color-primary);
    margin: 0 0 0.6rem;
  }

  & .rule {
    height: 0.15rem;
    width: 100%;
    margin: 0.6rem 0 1.2rem;
    border-radius: 0.1rem;
    background: linear-gradient(90deg, var(--color-primary), transparent);
  }

  & .lead {
    font-weight: 800;
    margin: 0 0 0.6rem;
  }

  & .desc {
    color: #273c37;
  }
}

.ABheader{
    background: #f5f5f5;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    position: relative;
    margin: 70px auto;
    padding: 5px
}

.ABtitle{
    background: #11362A;
    color: white;
    font-weight: bold;
    font-style: expanded;
    padding: 10px 20px;
    border-radius: 16px 16px 0px 0px;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translateY(-99%);
    border: 0.3rem solid #fff;
    border-bottom: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ABcontent{
    padding: 15px;
    color: black;
    text-align: justify;
}

.ABboxes{
    clear:both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 5px; */
    gap: 48px;
}

.ABspace {
  margin-bottom: 50px;
}

.ABcreators{
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    flex: 1 1 47%;
    min-height: 200px;
    background-color: #ECEBEB;
    border: 0px solid black;
    margin: 5px;
    margin-bottom: 75px;
    text-align: justify;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

.ABcreatorscont{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 120px;
    background-color: #C8BDB9;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

.ABmembers{
    background: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ABmemberslist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ABmembersnames {
    flex: 1 1 22%;
    min-width: 250px;
}

/* MAIN : MAP */
