#main {
  position: relative;
  width: 100%;
  min-height: 100svh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-lg);
  scroll-margin-top: 100svh;
  gap: var(--padding-md);

  & .main-content {
    width: 100%;
    scroll-margin-top: 10rem;
    display: flex;
    flex-direction: column;

    & .card {
      display: flex;
      flex-direction: column;
      gap: var(--padding-sm);
      line-height: 1.5;
      background: var(--color-primary);
      padding: var(--padding-sm);
      border-radius: var(--radius-sm);

      & details {
        display: flex;
        flex-direction: column;
        gap: var(--padding-sm);

        & summary {
          font-family: var(--font-heading);
          font-size: var(--font-size-h3);
          border-bottom: 2px solid var(--color-accent);
        }

        & ul {
          display: flex;
          flex-direction: column;
          gap: var(--padding-sm);
        }

        & a {
          font-weight: 700;
        }
      }
    }

    & > .separator {
      width: 100%;
      height: 4px;
      background: var(--color-accent);
      margin: var(--padding-sm) 0;
    }
  }

  & #nav {
    position: sticky;
    top: 4rem;
    width: 100svw;
    display: flex;
    align-items: center;
    padding: var(--padding-xs) var(--padding-lg);
    justify-content: space-between;
    background: var(--color-accent);
    box-shadow: var(--shadow-sm);
    z-index: 975;

    & .selection {
      flex: 1;
      display: flex;
      align-items: center;
      gap: var(--padding-sm);

      & h4 a {
        text-transform: capitalize;
        color: var(--color-secondary);

        &::after {
          background: var(--color-secondary);
        }
      }

      & .separator {
        width: 2px;
        height: var(--font-size-base);
        background: var(--color-secondary);
        opacity: 0.6;
      }
    }
  }
}


/***** RESPONSIVE STYLES *****/
#main {
  padding: 0 var(--padding-md);

  & #nav {
    width: 100%;
    /* position: static; */
    flex-direction: column;
    gap: var(--padding-sm);
    padding: var(--padding-sm) var(--padding-md);

    & .selection {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: var(--padding-xs);

      & .separator {
        display: none;
      }
    }
  }

  & .main-content {
    scroll-margin-top: 1rem;
  }
}
