.main-content {
        padding: 2rem;
        width: 100%;
        min-height: 100svh;
        border: 1px solid black;
    }

.logo {
    user-select: none;
    aspect-ratio: 1/1;
    height: calc(var(--font-size-h1) + var(--font-size-h1));
    width: calc(var(--font-size-h1) + var(--font-size-h1));
}

.logo-name {
    user-select: none;
    height: var(--font-size-h1);
}
