main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .main-item {
        width: 100%;
        min-height: 100svh;

        &#map {
            z-index: 0;
        }
    }

}
