#header-search {
  & #search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-primary);
    border: 1px solid var(--color-secondary);
    width: auto;
    max-height: 50vh;
    overflow-y: auto;
    z-index: 8888;

    &.hide {
      display: none;
    }

    & .search-result {
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background: var(--color-accent);
        color: var(--color-secondary);
      }
    }
  }

  & input {
    flex: 1;
    height: calc(var(--font-size-h3) + var(--padding-sm) + 3px);
    padding: var(--padding-xs);
    position: relative;
    border: 2px solid var(--color-accent);
    border-radius: var(--radius-sm);
    background: var(--color-secondary);
    color: var(--color-accent);
    font-size: var(--font-size-base);
    transition: var(--transition-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs);

    &::placeholder {
      color: var(--color-muted);
    }

    &:focus {
      outline: none;
      border-color: var(--color-accent);
    }
  }
}
