@import "./root.css";

/* PAGE NAVIGATION */
:is(#home-content, #about-content, #maps-content, #context-content) {
  animation: slide-in-top 0.5s ease;
}

#home:checked ~ main .content-container #home-content,
#about:checked ~ main .content-container #about-content,
#maps:checked ~ main .content-container #maps-content,
#context:checked ~ main .content-container #context-content {
  display: block;
}

main .content-container > section {
  display: none;
}

/* SHARED STYLES */
header,
main,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

header,
footer {
  padding: var(--padding-xs) var(--padding-lg);
  justify-content: space-between;
}

.logo {
  user-select: none;
  aspect-ratio: 1/1;
  height: calc(var(--font-size-h1) + var(--font-size-h1));
  width: calc(var(--font-size-h1) + var(--font-size-h1));
}

.logo-name {
  user-select: none;
  height: var(--font-size-h1);
}

.vr-separator {
  width: 2px;
  height: var(--font-size-h3);
  margin: 0 var(--padding-xs);
  background: var(--color-text);
}

.hr-separator {
  height: 2px;
  width: 100%;
  margin: var(--padding-xs) 0;
  background: var(--color-text);
}

/* PAGE HEADER */
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100svw;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid var(--color-accent);

  & .header-item {
    display: flex;
    align-items: center;

    & button {
      aspect-ratio: 1/1;
    }

    &#header-logo {
      cursor: pointer;
    }

    &#header-feature {
      gap: var(--padding-sm);

      & .feature-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--padding-sm);

        &#header-buttons {
          & #header-theme {
            cursor: pointer;
            display: flex;
            align-items: center;
            height: calc(var(--font-size-h3) + var(--padding-sm) + 3px);
            width: 5.5rem;
            border: 2px solid var(--color-accent);
            border-radius: var(--radius-sm);
            background: var(--color-secondary);
            transition: var(--transition-medium);

            & #header-icon {
              height: 90%;
              margin: 2px;
              transform: translateX(0) rotate(0deg);
              transition: var(--transition-fast);

              &:hover {
                background: var(--color-accent);

                & img {
                  filter: brightness(0) invert(1) !important;
                }
              }
            }

            &.switch #header-icon {
              transform: translateX(2.85rem);
            }
          }
        }

        &#header-search {
          & input {
            width: 20vw;
            height: calc(var(--font-size-h3) + var(--padding-sm) + 3px);
            padding: var(--padding-xs);
            position: relative;
            border: 2px solid var(--color-accent);
            border-radius: var(--radius-sm);
            background: var(--color-secondary);
            color: var(--color-accent);
            font-size: var(--font-size-base);
            transition: var(--transition-medium);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--padding-xs);

            &::placeholder {
              color: var(--color-muted);
            }

            &:focus {
              outline: none;
              border-color: var(--color-accent);
            }
          }
        }
      }
    }
  }
}

/* TODO: PAGE MAIN CONTENT */

main {
  min-height: 100svh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) 0;
  background: var(--color-bg-main);

  & section {
    padding: var(--padding-md) var(--padding-lg);
    min-height: 100vh;
  }

  & .content {
    min-height: 100vh;
  }

  & .content-container {
    max-width: 1180px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  & .disclaimer {
    font-size: 0.9rem;
  }

  & .subtle {
    color: var(--color-muted);
    font-size: 0.9rem;
  }
}

/* PAGE FOOTER */
footer {
  /* backdrop-filter: blur(10px); */
  border-top: 2px solid var(--color-accent);
  background: var(--color-primary);
  min-height: 100svh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  & .footer-item {
    display: grid;
    width: 100%;
    justify-content: space-between;
    padding: var(--padding-md) 0;

    &#footer-content {
      grid-template-columns: 1fr 2fr;

      & .content-item {
        align-items: start;
        justify-content: start;
        padding: var(--padding-md);
        height: 100%;

        &#content-details {
          display: flex;
          flex-direction: column;
          gap: var(--padding-md);

          & .detail {
            width: 100%;
            display: flex;
            align-items: center;
            gap: var(--padding-sm);
          }
        }

        &#content-lists {
          flex: 1;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: var(--padding-lg);
          position: relative;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("../assets/logos/logo-icon.png") no-repeat center
              center;
            background-size: contain;
            opacity: 0.25;
            pointer-events: none;
            margin: var(--padding-sm);
          }

          & .list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: var(--padding-xs);

            & ul {
              display: flex;
              flex-direction: column;
              gap: var(--padding-sm);
            }
          }
        }
      }
    }

    &#footer-copyright {
      grid-template-columns: auto auto;
      border-top: 1px solid var(--color-text);
    }
  }
}

/* TODO: RESPONSIVE SECTION */

@media screen and (min-width: 720px) {
  .footgrid {
    grid-template-columns: 1.4fr 1fr 1fr;
  }
}
@media screen and (max-width: 820px) {
  .hero {
    grid-template-columns: 1fr;
  }

  :is(.book-details-container, .author-details-container) .card {
    grid-template-columns: 1fr;
  }

  .track .slides .slide {
    grid-template-columns: 1fr;
  }

  .footgrid {
    padding: 2rem;

    & .logo {
      transform: translate(-50%, -50%);
    }
  }

  .member {
    flex: 1 1 100%;
  }

  .ABcreators {
    flex: 1 1 99%;
  }
}
