.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;

  & .carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40svh;
  }

  & .carousel-slide {
    flex: 0 0 80%;
    opacity: 0;
    transform: scale(0.75);
    transition: var(--transition-medium);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 60%;
    z-index: 0;
    filter: drop-shadow(0 0 0 transparent);

    & img {
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: contain;
      margin: 0 auto;
      display: block;
    }

    &.left {
      transform: translate(calc(-50% - 80%), -50%) scale(0.75);
      opacity: 0.6;
      z-index: 1;
    }

    &.center {
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 1;
      z-index: 3;
      filter: drop-shadow(var(--shadow-sm));
      transition: var(--transition-fast);

      &:hover {
        filter: drop-shadow(var(--shadow-md));
      }
    }

    &.right {
      transform: translate(calc(-50% + 80%), -50%) scale(0.75);
      opacity: 0.6;
      z-index: 1;
    }

    &.hidden {
      display: none;
    }
  }

  & .carousel-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    & .carousel-track {
      height: 50svh; /* Revert to original for larger screens */
    }
    & .carousel-slide {
      flex: 0 0 33%; /* Revert to original for larger screens */
      width: 20%; /* Revert to original for larger screens */
      &.left {
        transform: translate(calc(-50% - 120%), -50%) scale(0.75); /* Revert to original */
      }
      &.right {
        transform: translate(calc(-50% + 120%), -50%) scale(0.75); /* Revert to original */
      }
    }
  }
}
